{% extends 'base.html' %}

{% load i18n %}

{% block extrahead %}
	<link href="{{STATIC_URL}}css/gallery.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="gallery-title">{% trans object.title %}</h1>
		</div>
		<div class="row" align="center">
			{% for painting in paintings %}
				<div class="col-md-4">
					<a href="{{ painting.get_absolute_url }}"><img src="{{ painting.image_small.url }}" width="{{ painting.image_small.width }}" height="{{ painting.image_small.height }}" class="gallery-image" /></a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
