{% extends 'base.html' %}

{% load i18n %}

{% block extrahead %}
	<link href="{{STATIC_URL}}css/painting.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div id="view"></div>
	<div class="container">
		<div class="painting-table">
		<table>
			<tr>
				{% if previous_painting.get_absolute_url %}
					<td id="left">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<div id="url-left" hidden>{{ previous_painting.get_absolute_url }}#view</div>
					</td>
					{% else %}
					<td>
						<span class="glyphicon">&nbsp;</span>
					</td>
					{% endif %}
				<td>
					{% if next_painting.get_absolute_url %}
						<a href="{{ next_painting.get_absolute_url }}#view"><img src="{{ painting.image.url }}" class="painting-image" /></a>
					{% else %}
						<img src="{{ painting.image.url }}" class="painting-image" />
					{% endif %}
				</td>
					{% if next_painting.get_absolute_url %}
						<td id="right">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<div id="url-right" hidden>{{ next_painting.get_absolute_url }}#view</div>
						</td>
					{% else %}
						<td>
						</td>
					{% endif %}
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<p class="painting-description">	
						{% trans painting.title as title %}
						{% trans painting.surface as surface %}
						{% blocktrans with t=title|capfirst %}<b>"{{ t }}"</b>{% endblocktrans %}
						{{ surface|capfirst }}, {% trans painting.material %}.
						{{ painting.width }}x{{ painting.height }} {% trans "cm" %}
					</p>
						{% if painting.is_sold %}
							<p class="painting-description">	
								{% trans "In a private collection" %}
							</p>
						{% endif %}
				</td>
				<td>
				</td>
			</tr>
		</table>
		</div>
	</div>
{% endblock %}

{% block extrafoot %}
	<script src="{{STATIC_URL}}js/painting.js" type="text/javascript"></script>
{% endblock %}
