{% extends 'base.html' %}

{% load i18n %}

{% block extrahead %}
	<link href="{{STATIC_URL}}css/painting.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container" id="view">
		<div class="painting-table">
		<table>
			<tr>
				{% if previous_painting.get_absolute_url %}
					<td id="left">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<div id="url-left" hidden>{{ previous_painting.get_absolute_url }}</div>
					</td>
					{% else %}
					<td>
						<span class="glyphicon">&nbsp;</span>
					</td>
					{% endif %}
				<td>
					{% if next_painting.get_absolute_url %}
						<a href="{{ next_painting.get_absolute_url }}"><img src="{{ painting.image.url }}" class="painting-image" /></a>
					{% else %}
						<img src="{{ painting.image.url }}" class="painting-image" />
					{% endif %}
				</td>
				<td id="right">
					{% if next_painting.get_absolute_url %}
						<span class="glyphicon glyphicon-chevron-right"></span>
						<div id="url-right" hidden>{{ next_painting.get_absolute_url }}</div>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>	
					{% trans painting.title as title %}
					{% trans painting.surface as surface %}
					<b>{{ title|capfirst }}</b> {{ surface|capfirst }}, {% trans painting.material %}, {{ painting.width }}x{{ painting.height }}
				</td>
				<td>
				</td>
			</tr>
		</table>
		</div>
	</div>
{% endblock %}

{% block extrafoot %}
	<script src="{{STATIC_URL}}js/painting.js" type="text/javascript"></script>
{% endblock %}
