#view{
	padding-bottom: 20px;
}
td{
	border: thin solid transparent;
	border-collapse: collapse;
//	border-collapse: separate;
//	border-radius: 4px 4px 4px 4px;
}
.glyphicon{
	font-size: 20px;
	color: #888888;
	margin-left:20px;
	margin-right: 20px;
}
.painting-image{
	max-width: 100%;
	box-shadow: rgba(0,0,0,0.25) 0px 0px 12px;
}
.painting-table{
	width: 90%;
}
.painting-description{
	font-size: 135%;
	margin-top: 15px;
}
.turning-over-info{
	text-align: right;
}
