{% extends "base.html" %}

{% load i18n %}

{% block extrahead %}
	<link href="{{STATIC_URL}}css/feedback.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
		<p class="feedback-writehere">{% trans "Please write your feedback about my works" %}</p>
		<div id="kament_comments"></div>
	</div>
	<div class="feedback-old">
		<div class="container">
			<p class="feedback-old-title">{% trans "Messages from old version of this site:" %}</p>
			{% include "feedback-from-old-site.html" %}
		</div>
	</div>
{% endblock %}

{% block extrafoot %}
	<script src="{{STATIC_URL}}js/feedback.js" type="text/javascript"></script>
{% endblock %}
